<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>Name</label>
  <input type="text" formControlName="name" name="name" required/><br/>
   <div *ngIf="form.controls['name'].touched && form.controls['name'].invalid">
      <div *ngIf="form.controls['name'].errors &&
      form.controls['name'].errors.required">
         Name field is required
      </div>  

   </div>
  <label>Email</label>
  <input type="email" formControlName="email" name="email" /><br/>
  <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
   <div *ngIf="form.controls['email'].errors &&
   form.controls['email'].errors.required">
      Email field is required
   </div>  

</div>
  <label>Age</label>
  <input type="email" formControlName="age" name="age" /><br/>
  <div *ngIf="form.controls['age'].touched && form.controls['age'].invalid">
    <div *ngIf="form.controls['age'].errors && form.controls['age'].errors.required">
     Age field is required
    </div>
  </div>
  <input type="submit" [disabled]="!form.valid" value="Submit"/>
</form>